x-laravel-environment: &laravel-environment
  APP_NAME: '${APP_NAME}'
  APP_ENV: '${APP_ENV}'
  APP_KEY: '${APP_KEY}'
  APP_DEBUG: '${APP_DEBUG}'
  APP_URL_SCHEME: '${APP_URL_SCHEME}'
  APP_DOMAIN: '${APP_DOMAIN}'
  APP_URL: '${APP_URL}'
  APP_LOCALE: '${APP_LOCALE}'
  APP_FALLBACK_LOCALE: '${APP_FALLBACK_LOCALE}'
  APP_FAKER_LOCALE: '${APP_FAKER_LOCALE}'
  APP_MAINTENANCE_DRIVER: '${APP_MAINTENANCE_DRIVER}'
  PHP_CLI_SERVER_WORKERS: '${PHP_CLI_SERVER_WORKERS}'
  BCRYPT_ROUNDS: '${BCRYPT_ROUNDS}'
  LOG_CHANNEL: '${LOG_CHANNEL}'
  LOG_STACK: '${LOG_STACK}'
  LOG_DEPRECATIONS_CHANNEL: '${LOG_DEPRECATIONS_CHANNEL}'
  LOG_LEVEL: '${LOG_LEVEL}'
  DB_CONNECTION: '${DB_CONNECTION}'
  DB_HOST: '${DB_HOST}'
  DB_PORT: '${DB_PORT}'
  DB_DATABASE: '${DB_DATABASE}'
  DB_USERNAME: '${DB_USERNAME}'
  DB_PASSWORD: '${DB_PASSWORD}'
  SESSION_DRIVER: '${SESSION_DRIVER}'
  SESSION_LIFETIME: '${SESSION_LIFETIME}'
  SESSION_ENCRYPT: '${SESSION_ENCRYPT}'
  SESSION_PATH: '${SESSION_PATH}'
  SESSION_DOMAIN: '${SESSION_DOMAIN}'
  BROADCAST_CONNECTION: '${BROADCAST_CONNECTION}'
  FILESYSTEM_DISK: '${FILESYSTEM_DISK}'
  QUEUE_CONNECTION: '${QUEUE_CONNECTION}'
  CACHE_STORE: '${CACHE_STORE}'
  MEMCACHED_HOST: '${MEMCACHED_HOST}'
  REDIS_CLIENT: '${REDIS_CLIENT}'
  REDIS_HOST: '${REDIS_HOST}'
  REDIS_PASSWORD: '${REDIS_PASSWORD}'
  REDIS_PORT: '${REDIS_PORT}'
  MAIL_MAILER: '${MAIL_MAILER}'
  MAIL_SCHEME: '${MAIL_SCHEME}'
  MAIL_HOST: '${MAIL_HOST}'
  MAIL_PORT: '${MAIL_PORT}'
  MAIL_USERNAME: '${MAIL_USERNAME}'
  MAIL_PASSWORD: '${MAIL_PASSWORD}'
  MAIL_FROM_ADDRESS: '${MAIL_FROM_ADDRESS}'
  MAIL_FROM_NAME: '${MAIL_FROM_NAME}'
  AWS_ACCESS_KEY_ID: '${AWS_ACCESS_KEY_ID}'
  AWS_SECRET_ACCESS_KEY: '${AWS_SECRET_ACCESS_KEY}'
  AWS_DEFAULT_REGION: '${AWS_DEFAULT_REGION}'
  AWS_BUCKET: '${AWS_BUCKET}'
  AWS_USE_PATH_STYLE_ENDPOINT: '${AWS_USE_PATH_STYLE_ENDPOINT}'
  VITE_APP_NAME: '${VITE_APP_NAME}'
  VITE_PORT: '${VITE_PORT}'
  SOLO_KEYBINDING: '${SOLO_KEYBINDING}'
  CV_AUTH_USERNAME: '${CV_AUTH_USERNAME}'
  CV_AUTH_PASSWORD: '${CV_AUTH_PASSWORD}'
  SCOUT_DRIVER: '${SCOUT_DRIVER}'
  MEILISEARCH_HOST: '${MEILISEARCH_HOST}'
  MEILISEARCH_KEY: '${MEILISEARCH_KEY}'
  OCTANE_SERVER: '${OCTANE_SERVER}'
  OCTANE_HTTPS: '${OCTANE_HTTPS}'

services:
  web:
    environment:
      <<: *laravel-environment
    image: ${REG_URL}/${PROJECT_NAME}:${TAG}
    working_dir: /var/www/html
    healthcheck:
      test: [ "CMD", "healthcheck-octane" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    command: ["php", "/var/www/html/artisan", "octane:start", "--server=frankenphp", "--port=8080"]
    networks:
      - app
      - traefik_proxy
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      labels:
        - traefik.enable=true
        - traefik.http.routers.${STACK_NAME}.rule=${TRAEFIK_WEB_HOST_RULE}
        - traefik.http.routers.${STACK_NAME}.entrypoints=web
        - traefik.swarm.network=traefik_proxy
        - traefik.http.services.${STACK_NAME}.loadbalancer.server.port=8080
        - traefik.http.services.${STACK_NAME}.loadbalancer.passhostheader=true
        - traefik.http.middlewares.secure-headers.headers.sslHost=${TRAEFIK_HOST_RULE}
        - traefik.http.middlewares.secure-headers.headers.sslForceHost=true
        - traefik.http.middlewares.secure-headers.headers.sslProxyHeaders.X-Forwarded-Proto=https
        - traefik.http.routers.${STACK_NAME}.middlewares=secure-headers
    volumes:
      - web_storage:/var/www/html/storage/app
      - web_logs:/var/www/html/storage/logs
      - ${DEPLOYMENT_PATH}/.env:/var/www/html/.env:ro
      - ${DEPLOYMENT_PATH}/auth.json:/var/www/html/auth.json:ro
    depends_on:
      - postgres
      - redis

  postgres:
    image: timescale/timescaledb:2.20.3-pg17
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    networks:
      - app

  redis:
    image: redis:7-alpine
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - redis_data:/data
    networks:
      - app

  meilisearch:
    image: getmeili/meilisearch:v1.14.0
    environment:
      MEILI_NO_ANALYTICS: '${MEILISEARCH_NO_ANALYTICS:-false}'
      MEILI_MASTER_KEY: '${MEILISEARCH_KEY}'
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--spider", "http://127.0.0.1:7700/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - meilisearch_data:/meili_data
    networks:
      - app

volumes:
  web_storage:
  web_logs:
  postgres_data:
  redis_data:
  meilisearch_data:

networks:
  app:
    driver: overlay
  traefik_proxy:
    external: true
