x-postgres-configs: &postgres-config
  image: timescale/timescaledb:2.20.3-pg17
  restart: unless-stopped
  environment:
    POSTGRES_DB: ${DB_DATABASE}
    POSTGRES_USER: ${DB_USERNAME}
    POSTGRES_PASSWORD: ${DB_PASSWORD}
  networks:
    - app

x-laravel-environment: &laravel-environment
  APP_NAME: '${APP_NAME}'
  APP_ENV: '${APP_ENV}'
  APP_KEY: '${APP_KEY}'
  APP_DEBUG: '${APP_DEBUG}'
  APP_URL_SCHEME: '${APP_URL_SCHEME}'
  APP_DOMAIN: '${APP_DOMAIN}'
  APP_URL: '${APP_URL}'
  APP_LOCALE: '${APP_LOCALE}'
  APP_FALLBACK_LOCALE: '${APP_FALLBACK_LOCALE}'
  APP_FAKER_LOCALE: '${APP_FAKER_LOCALE}'
  APP_MAINTENANCE_DRIVER: '${APP_MAINTENANCE_DRIVER}'
  PHP_CLI_SERVER_WORKERS: '${PHP_CLI_SERVER_WORKERS}'
  BCRYPT_ROUNDS: '${BCRYPT_ROUNDS}'
  LOG_CHANNEL: '${LOG_CHANNEL}'
  LOG_STACK: '${LOG_STACK}'
  LOG_DEPRECATIONS_CHANNEL: '${LOG_DEPRECATIONS_CHANNEL}'
  LOG_LEVEL: '${LOG_LEVEL}'
  DB_CONNECTION: '${DB_CONNECTION}'
  DB_HOST: '${DB_HOST}'
  DB_PORT: '${DB_PORT}'
  DB_DATABASE: '${DB_DATABASE}'
  DB_USERNAME: '${DB_USERNAME}'
  DB_PASSWORD: '${DB_PASSWORD}'
  SESSION_DRIVER: '${SESSION_DRIVER}'
  SESSION_LIFETIME: '${SESSION_LIFETIME}'
  SESSION_ENCRYPT: '${SESSION_ENCRYPT}'
  SESSION_PATH: '${SESSION_PATH}'
  SESSION_DOMAIN: '${SESSION_DOMAIN}'
  BROADCAST_CONNECTION: '${BROADCAST_CONNECTION}'
  FILESYSTEM_DISK: '${FILESYSTEM_DISK}'
  QUEUE_CONNECTION: '${QUEUE_CONNECTION}'
  CACHE_STORE: '${CACHE_STORE}'
  MEMCACHED_HOST: '${MEMCACHED_HOST}'
  REDIS_CLIENT: '${REDIS_CLIENT}'
  REDIS_HOST: '${REDIS_HOST}'
  REDIS_PASSWORD: '${REDIS_PASSWORD}'
  REDIS_PORT: '${REDIS_PORT}'
  MAIL_MAILER: '${MAIL_MAILER}'
  MAIL_SCHEME: '${MAIL_SCHEME}'
  MAIL_HOST: '${MAIL_HOST}'
  MAIL_PORT: '${MAIL_PORT}'
  MAIL_USERNAME: '${MAIL_USERNAME}'
  MAIL_PASSWORD: '${MAIL_PASSWORD}'
  MAIL_FROM_ADDRESS: '${MAIL_FROM_ADDRESS}'
  MAIL_FROM_NAME: '${MAIL_FROM_NAME}'
  AWS_ACCESS_KEY_ID: '${AWS_ACCESS_KEY_ID}'
  AWS_SECRET_ACCESS_KEY: '${AWS_SECRET_ACCESS_KEY}'
  AWS_DEFAULT_REGION: '${AWS_DEFAULT_REGION}'
  AWS_BUCKET: '${AWS_BUCKET}'
  AWS_USE_PATH_STYLE_ENDPOINT: '${AWS_USE_PATH_STYLE_ENDPOINT}'
  VITE_APP_NAME: '${VITE_APP_NAME}'
  VITE_PORT: '${VITE_PORT}'
  SOLO_KEYBINDING: '${SOLO_KEYBINDING}'
  CV_AUTH_USERNAME: '${CV_AUTH_USERNAME}'
  CV_AUTH_PASSWORD: '${CV_AUTH_PASSWORD}'
  SCOUT_DRIVER: '${SCOUT_DRIVER}'
  MEILISEARCH_HOST: '${MEILISEARCH_HOST}'
  MEILISEARCH_KEY: '${MEILISEARCH_KEY}'
  OCTANE_SERVER: '${OCTANE_SERVER}'
  OCTANE_HTTPS: '${OCTANE_HTTPS}'
  FLUX_USERNAME: '${FLUX_USERNAME}'
  FLUX_LICENSE_KEY: '${FLUX_LICENSE_KEY}'

services:
  web:
    environment:
      <<: *laravel-environment
      AUTORUN_ENABLED: true
    image: ${REG_URL}/${PROJECT_NAME}:${TAG}
    working_dir: /var/www/html
    healthcheck:
      test: [ "CMD", "healthcheck-octane" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    restart: unless-stopped
    command: ["php", "/var/www/html/artisan", "octane:start", "--server=frankenphp", "--port=8080", "--watch"]
    labels:
      - traefik.enable=true
      - traefik.http.routers.${STACK_NAME}-web.rule=Host(`${APP_DOMAIN}`)
      - traefik.http.routers.${STACK_NAME}-web.entrypoints=web
      - traefik.docker.network=proxy
      - traefik.http.services.${STACK_NAME}-web.loadbalancer.server.port=8080
    ports:
      - ${VITE_PORT:-5173}:${VITE_PORT:-5173}
    volumes:
      - .:/var/www/html
      - web_ssh:/var/www/.ssh
    networks:
      - app
      - proxy
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  postgres:
    <<: *postgres-config
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    environment:
      ADMINER_DESIGN: "dracula"
      ADMINER_DEFAULT_SERVER: ${DB_HOST}
      ADMINER_DEFAULT_DRIVER: ${DB_CONNECTION}
    labels:
      - traefik.enable=true
      - traefik.http.routers.${STACK_NAME}-adminer.rule=Host(`adminer.${APP_DOMAIN}`)
      - traefik.http.routers.${STACK_NAME}-adminer.entrypoints=web
      - traefik.docker.network=proxy
      - traefik.http.services.${STACK_NAME}-adminer.loadbalancer.server.port=8080
    networks:
      - app
      - proxy

  redis:
    image: redis:7-alpine
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - redis_data:/data
    networks:
      - app
    restart: unless-stopped

  postgres_test:
    <<: *postgres-config

  meilisearch:
    image: getmeili/meilisearch:v1.14.0
    environment:
      MEILI_NO_ANALYTICS: '${MEILISEARCH_NO_ANALYTICS:-false}'
      MEILI_MASTER_KEY: '${MEILISEARCH_KEY}'
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--spider", "http://127.0.0.1:7700/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - meilisearch_data:/meili_data
    networks:
      - app
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.${STACK_NAME}-meilisearch.rule=Host(`meilisearch.${APP_DOMAIN}`)
      - traefik.http.routers.${STACK_NAME}-meilisearch.entrypoints=web
      - traefik.docker.network=proxy
      - traefik.http.services.${STACK_NAME}-meilisearch.loadbalancer.server.port=7700
    restart: unless-stopped

networks:
  app:
    driver: bridge
  proxy:
    external: true

volumes:
  web_ssh:
  postgres_data:
  redis_data:
  meilisearch_data:
